.header_container {
    width: 100%;
}

.burger_container {
    width: 100%;
    display: none;
}

.about {
    padding: 100px 150px;
    display: flex;
    flex-direction: column;
    gap: 100px;
}



@media screen and (max-width: 1090px) {
    .header_container {
        display: none;
    }
    
    .burger_container {
        display: block;
    }
    .about {
        padding: 50px 100px;
    }
}

@media screen and (max-width: 790px) {
    .about {
        padding: 50px 60px;
    }
}
@media screen and (max-width: 600px) {
    .about {
        padding: 50px 30px;
    }
}
@media screen and (max-width: 550px) {
    .about {
        padding: 50px 10px;
    }
}