.container{
    width: 80%;
    height: calc(100vh - 90px);
    margin-top: 90px;
    padding: 0 auto;
    overflow-y: scroll;
}

.main{
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: start;
    margin-top: 20px;
}

.title{
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 20px;
}

.content{
    color: white;
    font-size: 15px;
    line-height: 30px;
    margin-top: 20px;
}

.fit{
    display: flex;
    flex-wrap: wrap;
}

.content img{
    width: 100% !important;
    height: auto;
}

@media (max-width: 768px){
    .container{
        width: 90%;
    }

}

@media (max-width: 450px){
    .container{
        width: 97%;
    }
}