.contact {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
    .contact_wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 100px;
        .contact_info {
            width: 500px;
            height: 500px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .contact_desc {
                margin-bottom: 20px;
            }
            .contact_list {
                display: flex;
                flex-direction: column;
                gap: 20px;
                .contact_item {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    h4 {
                        color: whitesmoke;
                        font-size: 20px;
                    }
                    h5 {
                        width: 50%;
                        color: silver;
                        font-size: 18px;
                    }
                }
            }
        }
        .location {
            width: 500px;
            height: 500px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: dotted;
        }
    }
}

@media screen and (max-width: 1150px) {
    .contact {
        .contact_wrapper {
            flex-direction: column !important;
            gap: 100px;
            .contact_info {
                height: auto;
                .contact_desc {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    font-size: 32px;
                }
            }
        }
    }
}



@media screen and (max-width: 540px) {
    .contact {
        .contact_wrapper {
            .contact_info {
                width: 90vw;
                height: 90vw;
            }
            .location {
                width: 90vw;
                height: 90vw;
                font-size: medium;
            }
        }
    }
}

.header_container {
    width: 100%;
}

.burger_container {
    width: 100%;
    display: none;
}

@media screen and (max-width: 1090px) {
    .header_container {
        display: none;
    }
    
    .burger_container {
        display: block;
    }
}